* {
	margin: 0;
	padding: 0;
	box-sizing: 0;
}

body {
	background-color: #4E586E;
}

.container-principal {
	max-width: 1366px;
	background-color: #4E586E;
	margin: auto;
}

.header {
	width: 100%;
	height:  120px;
	background-color: #2E3648;
	display: flex;
	flex-direction: inline;
	box-shadow: 0px 0px 10px black;
	margin-bottom: 15px;
}

.icone {
	position: relative;
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	padding-left: 25px;
	cursor: pointer;

}

.moeda-simbolo {
	width: 85px;
	height: 85px;
	border-radius: 50%;
	background-color: #429A55;
	display: flex;
	align-items: center;
	justify-content: center;
}

.moeda-simbolo img {
	width: 100%;
	height: 100%;
}
.site-nome h2{
	margin-left: 10px;
	font-family: 'Josefin Sans', sans-serif;;
	font-weight: bold;
	font-size: 30px;
	color: #F54B64;
}

.sobre {
	position: relative;
	width: 50%;
	height: 100%;
	font-weight: normal;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-right: 30px;
}

.sobre a {
	font-size: 20px;
	color: #F54B64;
	text-decoration: #F54B64;
	font-family: inter;
	text-decoration: underline;
}


.adsense {
	max-width: 970px;
	height: 90px;
	border: 1px solid blue;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 50px;
}

.input-area {
	max-width: 600px;
	margin: auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-bottom: 10px;
	background-color: #2E3648;
	box-shadow: 0px 0px 15px black;
	
}
.moeda-icon {
	width: 100%;
	height: 90px;
	display: flex;
	padding-top: 15px;
	margin-bottom: 10px;
	flex-direction: inline;
	justify-content: center;
	align-items: center;
}

.moeda {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin-right: 15px;
}

.moeda img {
	width: 100%;
	height: 100%;
}

#moeda-nome {
	font-size: 30px;
	font-weight: bold;
	color: white;
	font-family: 'Oswald', sans-serif;;
	color: #F54B64;
}


#input-1, #input-2 {
	width: 100%;
	height: 60px;
	background-color: #4E586E;
	display: flex;
	align-items: center;
	margin-bottom: 25px;
}

.conversor {
	width: 90%;
	height: 200px;
	background-color: #2E3648;
}

#menu {
	width: 35px;
	height: 30px;
	margin-left: 20px;
	margin-bottom: 8px;
	background-image: url("imagens/menu-aberto.png");
	background-size: 100%;
	cursor: pointer;
}

#menu:hover {
	background-image: url("imagens/menu-aberto2.png");
}

#opcoes {
	background-color: #2E3648;
	max-width: 200px;
	padding-right: 20px;
	padding-bottom: 8px;
	padding-top: 8px;
	box-shadow: 0px 0px 15px black;
	position: absolute;
	z-index: 0;
	border-radius: 10px;
	margin-left: 20px;
	display: none;
}

#opcoes a {
	 color: #DCDCDC;
	 text-decoration: none;
	 padding-bottom: 5px;
}

#opcoes a:hover {
	color: #577DCF;
}


li {
	font-family: Arial, Helvetica, sans-serif;
    color: #DCDCDC;
    font-weight: normal;
    font-size: 15px;
    margin-left: 17px;
    margin-bottom: 5px;
    list-style-type: none;
}


#moeda-cod1, #moeda-cod2 {
	color: white;
	font-weight: bold;
	font-family: inter;
	font-size: 40px;
	margin-left: 15px;
}

#entrada-1,#entrada-2 {
	width: 85%;
	height: 100%;
	margin-left: 40px;
	text-align: right;
	color: white;
	font-family: inter;
	font-weight: bold;
	font-size: 40px;
	padding-right: 15px;
	outline: none;
	background-color: #4E586E;
	border: none;
}

.variacao {
	width: 85%;
	height: 30px;
	display: flex;
	flex-direction: inline;
	padding-left: 15px;
	align-items: center;
}

#varia {
	font-family: inter;
	font-size: 20px;
	color: #D3D3D3;
	font-weight: normal;
	margin-right: 15px;
}

#variaValor {
	font-family: inter;
	color: #F54B64;
	font-size: 20px;
}

.adsense-2 {
	max-width: 1200px;
	height: 300px;
	border: 1px solid blue;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

footer {
	max-width: 1366px;
	width: 100%;
	background-color: #2E3648;
	position: relative;
	left: 50%;
	transform: translate(-50%);
	bottom: 0;
	margin-top: 150px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	box-shadow: 0px 0px 15px black;
	padding-bottom: 10px;
	padding-top: 10px;
}

footer a {
	font-family: Arial, Helvetica, sans-serif;
	color: #DCDCDC;
	font-size: 15px;
	padding-bottom: 10px;
	text-align: center;
	line-height: 1.5;
}

a {
	cursor: pointer;
	color: #577DCF;
}

a:hover {
	color: #6490F0;
}

@media only screen and (max-width: 1800px) {
	#opcoes {
		margin-left: 0;
		border-botom-left-radius: 0px;
		border-top-left-radius: 0px;
		height: 600px;
		overflow: auto;
		width: 70%;
	}

	#opcoes li {
		margin-bottom: 20px;
		font-size: 20px;
	}

	#menu {
		margin-left: 15px;
	}
}

@media only screen and (max-width: 400px) {
	.header {
		height: 110px;
	}
	.site-nome h2 {
		font-size: 25px;
	}
	.sobre  {
		display: none;
	}

	.icone {
		width: 100%;
	}
	.moeda-simbolo {
		width: 75px;
		height: 75px;
	}

	#opcoes {
		margin-left: 0;
		border-botom-left-radius: 0px;
		border-top-left-radius: 0px;
		height: 600px;
		overflow: auto;
		width: 70%;
	}

	#opcoes li {
		margin-bottom: 20px;
		font-size: 20px;
	}

	#menu {
		margin-left: 15px;
	}

}